body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #dddddd;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
  }

  header {
    background-color: #2a2c5f;
    color: white;
    padding: 20px 0;
    text-align: center;
  }

  h1 {
    margin: 0;
    font-size: 2em;
  }

  h2,
  h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #2a2c5f;
  }

  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  label {
    font-size: 1.1em;
    margin-right: 10px;
  }

  input[type="checkbox"] {
    margin-right: 5px;
  }

  select {
    font-size: 1em;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-top: 5px;
    background-color: #f9f9f9;
  }

  select:focus {
    outline: none;
    border-color: #0073e6;
    background-color: #f0faff;
  }

  .log-container {
    margin-top: 20px;
  }

  #logWindow {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    height: 250px;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  #chatWindow {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    height: 250px;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .log-content {
    font-family: monospace;
    font-size: 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .controls-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .status-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }

  .toggle-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end; 
    width: 100%;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #0073e6;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

